Principal/Formularios/Web References/wsCentralbascula/Central.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Central" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.31.79.161:8001/Central.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.31.79.161:8001/Central.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.31.79.161:8001/Central.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentral_Crear_Tiquete_Traslado_Puerto_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Tiquete_Traslado_Puerto" />
  </wsdl:message>
  <wsdl:message name="ICentral_Crear_Tiquete_Traslado_Puerto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Crear_Tiquete_Traslado_PuertoResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_Estado_Vehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:Estado_Vehiculo" />
  </wsdl:message>
  <wsdl:message name="ICentral_Estado_Vehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Estado_VehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_lotes_Produccion_InputMessage">
    <wsdl:part name="parameters" element="tns:lotes_Produccion" />
  </wsdl:message>
  <wsdl:message name="ICentral_lotes_Produccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:lotes_ProduccionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICentral">
    <wsdl:operation name="Crear_Tiquete_Traslado_Puerto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/Crear_Tiquete_Traslado_Puerto" message="tns:ICentral_Crear_Tiquete_Traslado_Puerto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/Crear_Tiquete_Traslado_PuertoResponse" message="tns:ICentral_Crear_Tiquete_Traslado_Puerto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Estado_Vehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/Estado_Vehiculo" message="tns:ICentral_Estado_Vehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/Estado_VehiculoResponse" message="tns:ICentral_Estado_Vehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lotes_Produccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/lotes_Produccion" message="tns:ICentral_lotes_Produccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/lotes_ProduccionResponse" message="tns:ICentral_lotes_Produccion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICentral" type="tns:ICentral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear_Tiquete_Traslado_Puerto">
      <soap:operation soapAction="http://tempuri.org/ICentral/Crear_Tiquete_Traslado_Puerto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Estado_Vehiculo">
      <soap:operation soapAction="http://tempuri.org/ICentral/Estado_Vehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lotes_Produccion">
      <soap:operation soapAction="http://tempuri.org/ICentral/lotes_Produccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Central">
    <wsdl:port name="BasicHttpBinding_ICentral" binding="tns:BasicHttpBinding_ICentral">
      <soap:address location="http://172.31.79.161:8001/Central.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>